
.loginContainer
{
    flex-direction: column;
}

.loginHeader
{
    justify-content: center;
    align-items: center;
}

.loginText
{
    margin-top: 1rem;
    font-size: 20px;
    font-family: monospace;
    color: #2c51a3;
    font-weight: bold;
}

/* sign up and log in button  */

.loginInpuSignUptView
{
    margin: 1rem 1rem 0 1rem;
    background-color: #2c51a3;
    padding: 0.75rem;
    align-items: center;
    border-radius: 100px;
}

.loginSignup
{
    font-family: monospace;
    color: white;
}

.loginInputSignInView
{
    margin: 1rem 1rem 0 1rem;
    background-color: #a7a8ab;
    padding: 0.75rem;
    align-items: center;
    border-radius: 100px;
}

.loginSignin
{
    font-family: monospace;
    color: white; 
}

